*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}
.wrap{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1A8875;
    padding: 50px 150px 30px;
    color: #fff;
}
.home .header{
width: 100%;
height: 10vh;
display: flex;
justify-content: space-between;
align-items: center;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-weight: 300;
}
.additional button{
background-color: transparent;
border: 1px solid #fff;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
color: #fff;
padding: 15px 25px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
}
.additional button i{
    position: relative;
    left: 5px;
}
.additional button:hover{
    background-color: #fff;
    color:#1A8875 ;
    transition: 0.3s;
    cursor: pointer;
}
.homeSlader{
    width: 100%;
    display: flex;
    height: 80vh;
    align-items: center;
    display: flex;
}
.slide1{
    width: 100%;
    height: 100%;
    display: flex;
}
.homeSlader .leftSide{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homeSlader .leftSide p{
    margin: 30px 0;
}
.homeSlader button{
    background-color: #ffff;
border: 1px solid #fff;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
color: #fff;
padding: 15px 25px;
border-top-right-radius: 5px;
border-bottom-left-radius: 5px;
transition: 0.1s;
cursor: pointer;
color: #333;
}
.rightSide{
width: 50%;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
}
.rightSide img{
width: 400px;
position: relative;
top: 30px;
}